In [1]:
# 1. Discuss string slicing and provide examples.

In [2]:
#Programming techniques like string slicing let you take a section of a string and extract it according to the indices you provide. In languages like Python, where strings are indexed, this is especially helpful because slicing provides an easy method for manipulating and accessing substrings.
#One of the most useful features for manipulating strings is string slicing, which makes handling substrings more concise and facilitates working with text data.

In [7]:
a = "Hello, World!"    #basic
b = a[0:7] 
b

'Hello, '

In [8]:
a = "Hello, World!"
c = a[::2]             #stepwise
c

'Hlo ol!'

In [9]:
a = "Hello, World!"
reversed_text = a[::-1]   #reversing
reversed_text

'!dlroW ,olleH'

In [10]:
# 2. Explain the key features of lists in Python.

In [16]:
#Lists contain elements of different type (heterogeneous elements)

In [21]:
#Lists enable index-based access to elements by preserving the order in which they were added.

fruit = ['apple', 'orange', 'cherry']   #ordered collection
print(fruit[2])

cherry

In [15]:
# in-built methods like append(), remove(), and sort()

a=[1,2,True,"kashish"]
a.append("pwskills")       #append add to last
a

[1, 2, True, 'kashish', 'pwskills']

In [19]:
a.remove(True)
a

[2, 'kashish', 'pwskills']

In [22]:
fruit = ['apple', 'orange', 'cherry'] 
fruit.sort()
fruit

['apple', 'cherry', 'orange']

In [24]:
# mutable

fruit = ['apple', 'orange', 'cherry'] 
fruit[1]="blueberry"
fruit

['apple', 'blueberry', 'cherry']

In [25]:
# 3. Describe how to access, modify and delete elements in a list with examples.

In [26]:
fruits = ['apple','guava', 'banana','watermelon','orange']  #access
print(fruits[1])  
print(fruits[-1])

guava
orange

In [33]:
fruits = ['apple','guava', 'banana','watermelon','orange']
fruits[4]="blueberry"               #modify(mutability) 
fruits

['apple', 'guava', 'banana', 'watermelon', 'blueberry']

In [36]:
fruits = ['apple','guava', 'banana','watermelon','orange']
del fruits[2]                        #delete>>Removes an element by index
fruits

['apple', 'guava', 'watermelon', 'orange']

In [38]:
fruits = ['apple','guava', 'banana','watermelon','orange']
fruits.remove('guava')                 #remove>>Removes the first occurrence of a specific value
fruits

['apple', 'banana', 'watermelon', 'orange']

In [39]:
fruits = ['apple','guava', 'banana','watermelon','orange']
fruits.pop()                           #pop>>removes last element
fruits

['apple', 'guava', 'banana', 'watermelon']

In [40]:
# 4. Compare and contrast tuples and lists with examples.

In [1]:
#Python sequence types that can store collections of objects are tuples and lists. They do, however, have unique qualities and applications.

In [2]:
#lists are mutable and defined using square brackets [ ].
a = [1, 2, 3]
a[1] = 4  # Modify 
a.append(5)  # Add 
print(a)

[1, 4, 3, 5]

In [11]:
#tuple are immutable and defined using parentheses ( ).
a= (1, 2, 3)
a[1] = 4  # Modify 
a.append(5)  # Add 
print(a)

TypeError: 'tuple' object does not support item assignment

In [1]:
# 5. Describe the key features of sets and provide examples of their use.

In [2]:
# set>>unordered collection of data that does not allow duplicate element and stored in unique way
# it is intersection of two or more sets
# no indexing and no slicing
# mutable
# defined using square brackets {}.

In [13]:
a = {1, 2, 3, 4, 3, 2, 1}
a                          #uniqueness

{1, 2, 3, 4}

In [14]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [15]:
a.update(["ajay"])
a

{1, 2, 3, 4, 5, 'ajay'}

In [16]:
s1={1,3,4,5}
s2={3,3,1,6}                  #union operation
s1 | s2

{1, 3, 4, 5, 6}

In [17]:
s1 & s2                       #intersection operation

{1, 3}

In [18]:
s1-s2                         #difference operation

{4, 5}

In [19]:
s1^s2                         #symmetric operations

{4, 5, 6}

In [20]:
squares = {x**2 for x in range(6)}
squares                       #set comprehension

{0, 1, 4, 9, 16, 25}

In [1]:
# 6. Discuss the use cases oftuples and sets in Python programming.

In [4]:
# use case of tuple

tuple1=("kashish",1,2,True,3.4)         
for i in tuple1:
    print(i,type(i))

kashish <class 'str'>
1 <class 'int'>
2 <class 'int'>
True <class 'bool'>
3.4 <class 'float'>

In [6]:
for value in [(5, 2), (4, 4), (5, 9)]:          #iterate
    x, y = value
    print(f"x: {x}, y: {y}")

x: 5, y: 2
x: 4, y: 4
x: 5, y: 9

In [9]:
tuple1[2]=3         #immutable
tuple1

TypeError: 'tuple' object does not support item assignment

In [8]:
a = set()
a.add((1, 2))
a.add((3, 4))
a.add((1, 2))  # Duplicate not be added
print(a)

{(1, 2), (3, 4)}

In [1]:
#use cases of set

In [2]:
numbers = [1, 2, 2, 3, 4, 4, 5]      # Remove duplicates using a set
a = set(numbers)
print(a)

{1, 2, 3, 4, 5}

In [3]:
#set performs set operation like union,intersection , difference and symmetric difference

In [4]:
a={1,2,4,{3,6,7}}                      #we cant write set in set or list in set

TypeError: unhashable type: 'set'

In [6]:
a={1,(3,4,6),4,5}                      # we can write tuple in set as tuple are immutable
a

{(3, 4, 6), 1, 4, 5}

In [8]:
#sets used in data analysis
a = {10, 20, 30, 40}
b = {30, 40, 50, 60}    # Find common elements
common = a & b
common

{30, 40}

In [9]:
unique_to_a = a - b         # Find elements unique to each dataset
unique_to_b = b - a
unique_to_a  
unique_to_b

{50, 60}

In [10]:
# 7.Describe how to add , modify and delete items in a dictionary with examples.

In [11]:
#dictionary are mutable

a = {'name': 'Alice', 'age': 30}      #add
a['city'] = 'New York'
a

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [12]:
a['age']=31                           #modify
a

{'name': 'Alice', 'age': 31, 'city': 'New York'}

In [13]:
del a['name']                          #delete
a

{'age': 31, 'city': 'New York'}

In [14]:
# 8.Discuss the importance of dictionary keys being immutable and provide example.

In [15]:
# As dictionary stores data in the form of key value pair so it ia important for dictionaries to be mutable so that if some value is to be changed than it would be easy.
# phonebook is one of the example of dictionary
# In dictionaries keys are unique and immutable(can't be changed} whereas the values are mutable(can be changed).

In [16]:
# key-value mapping in a dictionary remains consistent and reliable
a = {}
key = 'user_id'
a[key] = 12345
a[key]

12345

In [20]:
#efficient storage
coordinates = {(1, 2): 'A', (3, 4): 'B',(3, 8): 'C'}
coordinates[(3,8)]

'C'

In [21]:
dict = {'name': 'Alice', 'age': 30}
dict['name']

'Alice'